.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
    
}

.footer{
    margin:0px auto;
    padding: 70px 60px 70px 60px;
    height: 500px;
    border-top: 10px;
    color:rgb(221, 157, 19);
    background: url(/help1.jpg);
    
}

.jumbotron {
    padding:90px 30px 90px 30px;
    margin:0px;
    background:url(/help1.jpg) ;
    color:white;
    height:400px;

}

.navbar {
    font-family:Arial, Helvetica, sans-serif, sans-serif;
    margin-bottom: 0;
    background-color: rgb(109, 97, 216);
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    
}
.modal-body{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




